# GAM credential files
client_secrets.json
oauth2.txt
oauth2service.json

# Outputs CSV or TXT
*.csv
*.txt

# GAM directory
.gam/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#IDE
gam-auto-license.code-workspace